.cc-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 3rem 3rem 3rem 3rem;
}
.cc-titulo-carrusel{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cc-carrusel{
  width: 70%;
}
.cc-titulo{
  font-size: 1.5rem;
  color: #F8F9FA;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  padding: 2rem 2rem 2rem 2rem;
}
@media (max-width: 1000px){
  .cc-container{
    flex-direction: column;
  }
  .cc-titulo-carrusel{
    width: 100%;
  }
  .cc-carrusel{
    width: 100%;
  }
}