.cl-imagen{
  width: 125px;
  height: 125px;
  margin: auto;
}
.cl-titulo{
  font-size: 1.5rem;
  color: #F8F9FA;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cl-boton{
  margin-top: 1.1rem !important;
  margin-bottom: 1.1rem !important;
  color: #F8F9FA !important;
}
.p-carousel-indicators li { 
  visibility: hidden; 
}